.friends-container{
    margin-top: 20px;
}

.my-friends {
    border: 2px solid gray;
    padding: 10px;
}

.friend-button {
    background-color: #22c55e;
    border-radius: 50px;
    border: 3.5px solid #22c55e;
    width: 200px;
    height: 45px;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 16px;
    cursor: pointer;
}
.friend-button:hover{
    background-color: #1daa51;
    border: #1daa51;
}
.titulo-amigos{
    font-size: 30px;
    color: #22c55e;
}
.eliminar-solicitud {
    background-color: white;
    border-radius: 50px;
    border: 3.5px solid gray;
    width: 200px;
    height: 45px;
    color: gray;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 16px;
    cursor: pointer;
}
.eliminar-solicitud:hover{
    border-color: red;
}

.user-info-amigo{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    margin-top: 5px;
}
.profile-picture-amigo {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ddd;
    padding: 3px 3px;
    position: relative;
}
.profile-picture-amigo img{
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.nombre-usuario-amigo{
    font-weight: bold;
    font-size: 1.2em;
}
.tipo-amigo{
    color: gray;
}
.righ-button {
    text-align: right;
    right: 100%;
}