.header-config{
    display: flex;
    width: 100%;
    align-items: center;
}
.back-icon-config{
    cursor: pointer;
}

.nexus-logo{
    display: flex;
    top: 10px;
    left: 50%;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}
.nexus-logo img{
    width: 180px;
    height: 110px;
    cursor: pointer;
    -webkit-user-drag: none; /* Evita arrastrar la imagen */
}

.titulo-config{
    color: black;
    font-size: 25px;
    font-weight: 500;
}
.subtitulo-config{
    color: black;
    font-size:17px;
    font-weight: 500;
}
.opciones-container{
    display: flex;
    border-radius: 5px;
    margin-top: 10px;
    height: 60px;
    padding: 5px;
    align-items: center;
}
.opciones-container:hover{
    background-color: rgb(231, 231, 231);
}
.opc-con{
    display: flex;
    text-align: center;
    gap: 20px;
    cursor: pointer;
    width: auto;
    align-items: center; /*CENTRA VERTICALMENTE */
    margin-left: 10px;
}


a{
    text-decoration: none;
    color: black;
}

.info-container{
    width: 100%;
    margin-top: 12px;
}

.subtitulo-verde{
    color: #22c55e;
    font-size: 20px;
}
.text-gray{
    color: gray;
    margin-left: 10px;
    font-size: 20px;
}
.text-confg{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: black;
}
.editar-info{
    width: 100%;
    text-align: right;
    color: #22c55e;
    text-decoration: underline;
}
.editar-info-text{
    cursor: pointer;
}

.editar-informacion-back{
    padding: 20px;
    display: none; /*debe ir none */
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: none;
    overflow: none;
}
.editar-informacion{
    position: relative;
    background-color: #fefefe;
    margin: 5% auto;
    padding: 10px;
    border: 2px solid #888;
    max-width: 1000px;
    height: auto;
    top: 0;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    overflow-y: auto;
}
.titulo-green{
    color: #22c55e;
    font-size: 24px;
}

/* */

.titulo2{
    color: #22c55e;
    font-size: 30px;
    font-weight: normal;
    padding: 20px;
}
.informacion-detalle2{
    width: 100%;
    padding: 20px;
}
.titulo-informacion2{
    color: #888; /* Gris claro */
    font-size: 20px; /* Tamaño pequeño */
    font-weight: normal; /* Texto normal */
}
.informacion2 {
    display: block; /* Asegura que el nombre esté debajo de la etiqueta */
    font-size: 30px; /* Tamaño más grande */
    color: #000; /* Negro para el nombre */
    margin-top: 2px; /* Espacio entre el título y el nombre */
}

.fila2 {
    display: flex; /* Aplica flexbox */
    justify-content: space-between; /* Espacia los elementos entre sí */
    align-items: center; /* Alinea verticalmente al centro */
    margin-bottom: 10px; /* Espacio entre filas */
}
.fila2 input{
    width: 60%;
    border-color: white;
    border: 3px solid gray;
    border-radius: 5px;
    height: 45px;
    font-size: 20px;
    color: gray;
    padding-left: 10px;
}
.fila2 input:hover{
    outline: none;
}
.fila2 input:focus {
    outline: none;
}
.green-link2 {
    color: #22c55e;
    font-size: 30px;
    font-weight: normal;
    padding: 20px;
    text-decoration-line: underline;
    text-decoration-color: #22c55e;
    cursor: pointer;
}
.buttons-container{
    text-align: right;
}

/*Contraseña y seguridad*/
.green-text{
    color: #22c55e;
}

.mensaje-container{
    width: 100%;
    height: auto;
    margin-top: 20px;
    color: black;
    font-size:15px;
    font-weight: 500;
}

/*Cmabiar contraseña */
.text-gray2{
    color: gray;
    font-size: 15px;
}
.inputs-container1{
    width: 100%;
    margin-top: 10px;
}
.input-contraseña{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
}

.input-contraseña input{
    border: 3px solid gray;
    border-radius: 5px;
    color: gray;
    padding-left: 5px;
    width: 100%;
    height: 40px;
    font-size: 16px;
}

.input-contraseña input:focus{
    border-color: #22c55e;
    outline: none;
}
.text-container{
    margin-top: 10px;
    width: 100%;
    gap: 10px;
    padding: 10px;
}

.editar-info2{
    width: 100%;
    color: #22c55e;
    text-decoration: underline;
}
.editar-info-text2{
    cursor: pointer;
}
.ctn-btn {
    text-align: right;
    margin-top: 10px;
}
.hide-red-text{
    display: none;
    color: red;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.new-password.error{
    border-color: red;
}
.new-password.error:hover{
    border-color: red;
}
.new-password.error:focus{
    border-color: red;
}
.renew-password.error{
    border-color: red;
}
.renew-password.error:hover{
    border-color: red;
}
.renew-password.error:focus{
    border-color: red;
}

/*Aprtado de notificaciones*/
.notification-container{
    width: 100%;
    padding: 20px;
    margin-top: 20px;
}

.custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 8px;

}

.custom-checkbox input {
    display: block;
}
.custom-checkbox input[type="checkbox"] {
    transform: scale(2); /* Aumenta el tamaño en un 50% */
}

.checkmark {
    width: 60px;
    height: 60px;
    width: 20px;
    height: 20px;
    border: 2px solid #22c55e;
    border-radius: 5px;
    margin-right: 10px;
    position: relative;
    display: inline-block;
}

.custom-checkbox input:checked + .checkmark {
    background-color: #22c55e;
    border-color: #22c55e;
}

.custom-checkbox input:checked + .checkmark::after {
    content: '';
    color: white;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}