.back-dark5{
    padding: 20px;
    display: none; /*debe ir none */
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: none;
}
.create-notice{
    position: relative;
    background-color: #fefefe;
    margin: 5% auto;
    padding: 10px;
    border: 2px solid #888;
    max-width: 1200px;
    max-height: 85vh; /*me ocupa 85vh de tamaño de la pantalla y me permite hacer el scroll cuando se hace zoom */
    top: 0;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    overflow-y: auto;
}
/*Estilo del fondo de la barra */
.create-notice::-webkit-scrollbar {
    width: 10px; /* Ancho vertical */
    height: 10px; /* Alto horizontal */
    border-radius: 5px;
    background: #f1f1f1;
    border-radius: 5px;
}
/*Estilo de la barra deslizante */
.create-notice::-webkit-scrollbar-thumb {
    background: #acabab;
    border-radius: 5px;
}
.create-notice::-webkit-scrollbar-thumb:hover {
    background: #828181;
}
.create-notice h2{
    color: #22c55e;
    font-family: Arial, Helvetica, sans-serif;
}
.create-container-titulo{
    border-radius: 5px;
    border: 2px solid gray;
    width: 100%;
    height: 100px;
    padding: 5px 5px;
}
.create-container-subtitulo {
    border-radius: 5px;
    border: 2px solid gray;
    width: 100%;
    height: 100px;
    padding: 5px 5px;
}
.create-container-descripcion {
    border-radius: 5px;
    border: 2px solid gray;
    width: 100%;
    height: 300px;
    padding: 5px 5px;
}

/*Leer noticias (diseño de una noticia) */


.contendor-noticia{
    width: 100%;
    height: auto;
    padding: 5px;
    margin-top: 10px;
    border: 3px solid gray;
}
.back-icon-container{
    width: 100%;
    height: auto;
    padding: 10px;
}
.circle:hover{
    fill: #1eb254;
}
.header-noticia{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.header-noticia h2{
    color: #22c55e;
    font-family: Arial, Helvetica, sans-serif;
}

.file-noticia{
    width: 100%;
    max-height: 300px;
}

.file-noticia img{
    width: 100%;
    max-height: 200px;
}
.text-container-noticia{
    margin-top: 10px;
    width: 100%;
    height: auto;
}
.parrafo{
    width: 100%;
}
.parrafo p{
    color: black;
    font-size: 1em;
}
.button-container-noticia{
    margin-top: 10px;
    width: 100%;
    height: auto;
    padding: 0;
}
.button-container-noticia button{
    background-color: white;
    border-radius: 50px;
    border: 3.5px solid #a9a9a9;
    width: 200px;
    height: 35px;
    color: #a9a9a9;
    font-size: 16px;
    cursor: pointer;
    margin-top: 0;
    margin-left: 0;
}

.button-container-noticia button:hover{
    border-color: #22c55e;
    color: #22c55e;
}


